.footer {
	@include text-style(12,$font-gray);
	@include responsive(D) {
		@include text-style(13,$font-gray);
	}
	padding: 20px 0;
	background: $black;
	
	// 공통 레이아웃
	.footer-main,
	.footer-left,
	.footer-right {
		padding: 5px 0;
	}
	// 개별 레이아웃
	.footer-main {
		ul {
			display: flex;
			flex-wrap: wrap;

			li {

				&:last-child::after {
					display: none;
				}
				&::after {
					content: '|';
					padding: 0 10px;
				}
				a {
					color: $yellow;
					@include transition3;
					&:hover {
						color: $blue;
					}
				}
			}
		}
		
	}

	
}