.sitemap {
    background: #222;
    &-inner {
        @include text-style(12,$white);
        @include responsive(D) {
            @include text-style(13);
        }
        @include flexbox(between);
        margin: 20px 0;
    
        h4 {
            @include text-style(14);
            font-weight: 600;
        }
    
        a {
            @include transition3;
            &:hover {
                color: $yellow;
            }
        }
    }
}

