.main {
	margin-top: 60px;
	@include responsive(T) {
		margin-top: 90px;
	}
	// 메인페이지 왼쪽
	&-lnb {
		@include flexbox;
		@include text-style(13);
		margin-bottom: 20px;
		text-align: center;

		@include responsive(D) {
			text-align: left;
			@include flexbox(start);
		}
		

		&.is-scroll {
			@include responsive(D) {
				@include flexbox(start);
				position: fixed;
				top: 90px;
				text-align: left;
			}
		}

		.main-lnb-item {
			a {
				@include a-hover;
			}
		}
	}

	// 메인페이지 중간
	&-container {
		
	
		
		
	}
	// 메인페이지 오른쪽
	&-history {
		// 현재페이지의 path를 등록해주세요
	}
}
