@mixin pos-center-x ($pos : absolute) {
	@if ($pos == absolute or $pos == fixed) {
			position: $pos;
			left: 50%;
			transform: translateX(-50%);
	}
}

@mixin pos-center-y ($pos : absolute) {
	@if ($pos == absolute or $pos == fixed) {
			position: $pos;
			top: 50%;
			transform: translateY(-50%);
	}
}

@mixin pos-center ($pos: absolute) {
	@if ($pos == absolute or $pos == fixed) {
			position: $pos;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
	}
}
